# Reverse proxy configuration
export VHOST="kevinavila.pro"

# Directus configuration
# This is the email for the Directus admin user.
export DIRECTUS_ADMIN_EMAIL="admin@example.com"
# This is the password for the Directus admin user. Use a strong password.
export DIRECTUS_ADMIN_PASSWORD="d1r3ctu5"
# This is the secret key for the Directus project.
export DIRECTUS_SECRET="directus-secret"

# Gatsby configuration
export SITE_URL="https://blog.kevinavila.pro"
export SITE_NAME="Kevin Avila's Dev Blog"
export SITE_DESCRIPTION="A blog about software development, technology, and personal projects."

# Database configuration
# This is the password for the database user. Use a strong password.
export DB_PASSWORD="db-secret"
